@import "tailwindcss";

@layer utilities {
  /* Print Optimization */
  @media print {
    .no-print {
      display: none !important;
    }

    body {
      background-color: #ffffff !important;
      color: #000000 !important;
    }

    #printable-menu-sheet {
      max-width: 100% !important;
      margin: 0 !important;
      padding: 10px !important;
      background: #ffffff !important;
      color: #000000 !important;
      border: none !important;
      box-shadow: none !important;
    }

    #printable-ticket {
      max-width: 80mm !important;
      margin: 0 auto !important;
      padding: 5px !important;
      box-shadow: none !important;
    }
  }
}
